
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script src="https://use.fontawesome.com/19011fc75e.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>
      <div class="Hello-header px-3 py-3 pt-md-1 pb-md-0 mx-auto text-right text-dark">
        <strong class="display-4" >RentCheck</strong>
      </div>

    <div class="Hello-header px-3 py-3 pt-md-0 pb-md-4 mx-auto text-center text-warning">
      <strong class="display-1" >HELLO</strong>
    </div>
    <div class="Text-header px-3 py-3 pt-md-0 pb-md-4 mx-auto text-center">
        <p class="lead">Good to see you here</p>
    </div>

    <form action="/RentCheck">
        <div class="text-center pb-md-5">
            <button class="btn btn-lg btn-outline-warning text-dark">Let's start</button>
        </div>
    </form>

    <div class="Contact-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <p class="lead">Contact with us in email or social networks</p>
        <section class="text-center">
            <form action="mailto:Egor.Shilkin2000@yandex.ru">
                <button class="btn"><i class="fas fa-envelope-square"></i></button>
            </form>
        <form action="https://www.instagram.com/_egors2000_/">
        <i class="fab fa-instagram"></i>
        </form>
        <form action="https://www.facebook.com/EgorS2000/">
            <i class="fab fa-facebook"></i>
        </form>
        <form action="https://vk.com/egor_s2000/">
            <i class="fab fa-vk"></i>
        </form>
        <form action="https://twitter.com/EgorS2000/">
            <i class="fab fa-twitter-square"></i>
        </form>
        </section>
    </div>
  </body>
</html>
